<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>
<body>
<center>
    <h1>Welcome!</h1>
    </center>
    <style type="text/css">
        body{
        background-image: url(static/pic.jpg);
        background-size: cover;
        }

    .welcome{
         text-align: center;
    }
    .login{
        font-size:30px;
        text-align:center;
        text-transform: uppercase;
        margin:40px 0;
        }

    </style>

    <h3>
        NAME:<span id="result-name">{{rname}}</span>
    </h3>
    <h3>
        COMPANY NAME:<span id="result-cname">{{rcname}}</span>
    </h3>
    <h3>
        UID:<span id="result-number">{{rnumber}}</span>
    </h3>
    <h3>
        EMAIL ID:<span id="result-Email">{{remail}}</span>
    </h3>
    <h3>
        PASSWORD:<span id="result-pass">{{rpass}}</span>
    </h3>

</body>
</html>
